@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #E5E5E5;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  color: #ffffff30;
}

.button:disabled {
  background-color: #E5E5E5;
}

/* Шапка */

.page-header {
  color: #000000;
  background-color: #ffffff;
  margin-bottom: -5px;
}

.logo {
  display: block;
  margin-left: 70px;
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1200px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 70px;
  width: 300px;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  left: 17px;
  right: 17px;
  bottom: -1px;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 24px 12px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url(../images/icons/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-counter {
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  top: -8px;
  left: 13px;
  z-index: 1;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
  display: block;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 3.5px 1px;
  box-sizing: border-box;
}

.navigation-button {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 14px 0 14px 20px;
  padding: 9px 15px 8px;
  width: 160px;
  text-align: center;
}

/* Главная */

.main-container {
  color: #000000;
  background-color: #ffffff;
  flex-grow: 1;
}

.welcome {
  background-image: url(../images/backgroung-addition.svg), url(../images/index-background.jpg);
  background-color: #92bed7;
  background-size: cover auto, 100% auto;
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  padding-top: 51px;
}

.welcome-title {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.welcome-subtitle {
  margin: 0;
  padding: 63px 290px 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.five-reasons {
  margin: 0;
  padding: 0 272px 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.reasons-list li {
  text-align: center;
}

.reasons-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.item-town,
.item-bridge {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 92px 85px;
}

.item-house,
.item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 182px 85px 81px;
  position: relative;
}

.item-eat {
  padding: 182px 85px 81px;
  position: relative;
}

.item-square,
.item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 102px;
}

.item-road {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 102px;
}

.item-house::before {
  content: "";
  background-image: url(../images/icons/home.svg);
  width: 75px;
  height: 72px;
  position: absolute;
  top: 80px;
  left: 162.5px;
}

.item-eat::before {
  content: "";
  background-image: url(../images/icons/burger.svg);
  width: 74px;
  height: 72px;
  position: absolute;
  top: 80px;
  left: 163px;
}

.item-souvenirs::before {
  content: "";
  background-image: url(../images/icons/gift.svg);
  width: 72px;
  height: 76px;
  position: absolute;
  top: 78px;
  left: 164px;
}

.reasons-subtitel {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.number {
  margin: 0;
  display: block;
  margin-bottom: 30px;
}

.reasons-text {
  margin: 0;
}

.image-reasons {
  display: block;
}

/* Поиск отелей */

.hotel-search {
  padding-top: 91px;
}

.hotel-subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}

.hotel-button {
  margin: 0 313px 93px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Форма подписки*/

.subscription {
  background-color: #99abba;
  background-image: url(../images/backgrund-form.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  padding-top: 94px;
}

.subscription-subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 363px 46px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.subscription-email {
  border: 0;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
  width: 578px;
  padding: 20px 0 19px 22px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.subscription-button {
  background-color: #82B3D3;
  width: 200px;
  border-radius: 0px 10px 10px 0px;
  border: 0;
  padding: 12px 0 12px;
  font-family: "PT Sans";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
  outline: none;
}

/* Подвал */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 40px 70px 30px;
}

.page-footer a {
  color: #000000;
  text-decoration: none
}

.social {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 150px;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  cursor: pointer;
  padding: 13px 14.5px;
  min-width: 18px;
  min-height: 14px;
  position: relative;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link:hover .footer-icon {
  fill: #68A2CA;
}

.social-link:focus {
  outline: none;
}

.social-link:focus .footer-icon {
  fill: #68A2CA;
  outline: none;
}

.social-link:active .footer-icon {
  fill: #68A2CA30;
}


.footer-tel {
  display: block;
  width: 720px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-tel:hover {
  color: #756157;
}

.footer-tel:focus {
  color: #756157;
  outline: none;
}

.footer-tel:active {
  color: #75615730;
}

.footer-logo {
  display: block;
}

.footer-logo svg {
  fill: #000000;
}

.footer-logo:hover svg {
  fill: #756157;
}

.footer-logo:focus {
  outline: none;
}

.footer-logo:focus svg {
  fill: #756157;
}

.footer-logo:active svg {
  fill: #75615730;
}

/* Каталог */

.inner-container {
  background-image: url(../images/background-filter.jpg);
  background-color: #8caeca;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #000000;
  padding: 35px 70px 70px;
}

.inner-header-titel {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.breadcrumbs .breadcrumbs-list:nth-child(1) {
  margin-right: 25px;
}

.breadcrumbs .breadcrumbs-list:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 6px;
  height: 9px;
  left: 23px;
  top: 6px;
}

.breadcrumbs-item {
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-icon:hover {
  fill: #FFFFFF60;
}

.breadcrumbs-icon:active {
  fill: #ffffff30;
}

.breadcrumbs-item:hover {
  color: #FFFFFF60;
}

.breadcrumbs-item:focus {
  outline: none;
}

.breadcrumbs-item:active {
  color: #ffffff30;
}

/* Фильтр */

.catalog {
  color: #ffffff;
  margin-top: -10px;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-hotel-container {
  width: 1200px;
}

.filter-legend {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  appearance: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control {
  position: relative;
  display: block;
}

.control-label {
  margin-left: 35px;
}

.control-input[type="checkbox"],
.control-input[type="radio"] {
  position: absolute;
  z-index: -1;
}

.control-input[type="checkbox"] + .control-mark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
}

.control:hover .control-input[type="checkbox"] + .control-mark {
  background-color: #ffffff60;
}

.control-input[type="checkbox"]:focus + .control-mark {
  background-color: #ffffff60;
  outline: 3px solid #83B3D3;
  border: none;
}

.control:active .control-input[type="checkbox"] + .control-mark {
  background-color: #ffffff30;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  background-image: url(../images/icons/check-mark.svg);
  background-color: transparent;
  width: 13px;
  height: 10px;
  top: 5px;
  left: 4px;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 0;
}

.control-input[type="radio"]:checked:focus + .control-mark {
  outline: 3px solid #83B3D3;
  border: none;
}

.control-input[type="radio"]:focus + .control-mark {
  border: 3px solid #83B3D3;
  outline: none;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 30px;
}

.input-min {
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  top: 2px;
}

.input-max {
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

.input-min:hover,
.input-max:hover {
  border: 2px solid #ffffff60;
}

.input-min:focus,
.input-max:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.input-min:active,
.input-max:active {
  background-color: #756257;
  outline: none;
}

.input-min +  span {
  position: absolute;
  top: 14px;
  right: 10px;
  color: #ffffff30;
}

.input-max +  span {
  position: absolute;
  top: 14px;
  right: 10px;
  color: #ffffff30;
}

.range-input {
  width: 144px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  color: #ffffff;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: #ffffff30;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.button-min {
  top: -8px;
}

.button-max {
  left: 235px;
  top: -8px;
}

.range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.range-button:hover {
  box-shadow: 0 4px 10px #ffffff25;
}

.range-button:focus {
  box-shadow: 0 4px 10px #ffffff25;
  outline: 3px solid #83B3D3;
}

.range-button:active {
  box-shadow: 0 7x 15px #ffffff40;
  outline: 2px solid #83B3D3;
}

.button-filter {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.button-apply {
  background-color: #82B3D3;
  font-family: "PT Sans";
  text-transform: uppercase;
  border: 0;
  box-sizing: border-box;
  width: 160px;
  padding: 14px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-reset {
  background-color: transparent;
  border: 0;
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  padding: 0;
}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  background-color: transparent;
  outline: none;
}

.sorting {
  color: #000000;
  display: flex;
  padding: 63px 71px 25px 72px;
  margin-bottom: 56px;
}

.sortihg-subtitel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: auto;
  margin-right: 78px;
  cursor: pointer;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
  box-sizing: border-box;
  width: 290px;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  color: #00000030;
  border: 2px solid #00000030;
}

.button-view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-items: center;
  background-color: #ffffff;
}

.view-style {
  display: block;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  padding: 11.5px 14px;
  cursor: pointer;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-style-current {
  border: 2px solid #000000;
}

.view-style:hover {
  border: 2px solid #000000;
}

.view-style:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.view-style:active {
  border: 2px solid #000000;
}

.hotel-found {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 73px;
  padding-right: 73px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 18px;
  margin-bottom: 96px;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-image {
  display: block;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-titel {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.hotel-card-span {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
  font-weight: 400;
}

.button-card {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 8px;
}

.button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  padding-top: 9px;
  padding-bottom: 8px;
}

.button-favorites:hover {
  background-color: #68A2CA;
}

.button-favorites:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-favorites-current {
  background-color: #7DB54F;
}

.button-favorites-current:hover {
  background-color: #6C9E42;
}

.button-favorites-current:focus {
  background-color: #6C9E42;
  outline: none;
}

.hotel-card-star {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px 0;
  gap: 0 6px;
}

.card-star {
  display: block;
}

.card-rating {
  color: #333333;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 4px;
}


/* Пагинация */

.pagination-container {
  display: flex;
  margin-left: 73px;
  margin-right: 71px;
  margin-bottom: 119px;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  cursor: pointer;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 4px;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  box-sizing: border-box;
  width: 60px;
  text-align: center;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  color: #ffffff30;
}

.pagination-link-current {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  color: #000000;
}

.pagination-item .pagination-link-current:hover {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  color: #000000;
}

.pagination-item .pagination-link-current:focus {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  color: #000000;
}

.pagination-item .pagination-link-current:active {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  color: #000000;
}

.select-page-titel {
  color: #333333;
  margin-left: auto;
  margin-right: 51px;
  padding-top: 19px;
  padding-bottom: 17px;
}

.select-page-option {
  padding: 14px 130px 14px 20px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-page-option:hover {
  border: 2px solid #68A2CA;
}

.select-page-option:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-page-option:active {
  border: 2px solid #3F5E72;
}

.select-page-option:disabled {
  color: #00000030;
  border: 2px solid #00000030;
}

/* Подписка каталог */

.subscription-catalog {
  background-color: #ffffff;
  color: #000000;
}

.subscription-subtitle-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subscription-text-catalog {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0 362px;
}
